<h1>Welcome to CSE Motors!</h1>
<div id="main-img">
    <img id="car-img" src="images/vehicles/delorean.jpg" alt="vehicle">
    <div id="car-info">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders</h3>
        <h3>Superman doors</h3>
        <h3>Fuzzy dicel</h3>
        <button id="own">Own Today</button>
    </div>
</div>
<div id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <h3> • "So fast it's almost like traveling in time." (4/5)</h3>
    <h3> • "Coolest ride on the road." (4/5)</h3>
    <h3> • "I'm felling McFly!" (5/5)</h3>
    <h3> • "The most futuristic ride of our day" (4.5/5)</h3>
    <h3> • "80's livin and I love it!" (5/5)</h3>
</div>
<div id="upgrade">
    <h1>Delorean Upgrades</h1>
    <div id="upgrade-info">
        <div id="flux">
            <img src="images/upgrades/flux-cap.png" alt="Flux Cap">
            <h3>Flux Capacitor</h3>
        </div>
        <div id="flame">
            <img src="images/upgrades/flame.jpg" alt="Flame">
            <h3>Flame Decals</h3>
        </div>
        <div id="bumper">
            <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            <h3>Bumper Stickers</h3>
        </div>
        <div id="hub">
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <h3>Hub Caps</h3>
        </div>
    </div>
</div>

